@font-face {
  font-family: 'Proxima Nova';
  src: url(./fonts/proxima-nova-font.otf) format('opentype');
  /* other formats include:
  * 'woff', 'woff2', 'truetype, 'opentype', 'embedded-opentype', 'svg'
  */
}

:root {
  --light-color: #F8F9FA;
  --medium-color: #36393f;
  --dark-color: #0D1117;
  --red: #e06666;
  --green: #93c47d;
  --yellow: #dec354;
  /* --blue: #5cc8dd; */
  --blue: #35a2eb;
}

body {
  font-family: 'Proxima Nova';
  background-color: var(--medium-color);
  color: var(--light-color);
}

/* loading spinner */
.spinner-border {
  width: 20rem;
  height: 20rem;
  color: var(--light-color);
}

/* map button */
.btn-group-justified>label {
  width: 100%;
}

.btn-group-sm>.btn,
.btn-sm {
  padding: 0.5rem 0.5rem 0.25rem;
}

.btn-group>.btn:first-of-type{
  margin-left: 0px !important;
}

.btn-group>.btn:last-of-type{
  margin-right: 0px !important;
}

/* not finished */
.btn-check:checked+.btn-outline-not-finished,
.btn-check:hover+.btn-outline-not-finished {
  color: var(--light-color);
  background-color: var(--red);
  border-color: var(--red);
}

.btn-outline-not-finished {
  color: var(--red);
  border-color: var(--red);
}

.btn-check:disabled+.btn-outline-not-finished {
  opacity: 1;
}

/* first to finish */
.btn-check:checked+.btn-outline-first-to-finish,
.btn-check:hover+.btn-outline-first-to-finish {
  color: var(--medium-color);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.btn-outline-first-to-finish {
  color: var(--yellow);
  border-color: var(--yellow);
}

.btn-check:disabled+.btn-outline-first-to-finish {
  opacity: 1;
}

/* finished */
.btn-check:checked+.btn-outline-finished,
.btn-check:hover+.btn-outline-finished {
  color: var(--medium-color);
  background-color: var(--green);
  border-color: var(--green);
}

.btn-outline-finished {
  color: var(--green);
  border-color: var(--green);
}

.btn-check:disabled+.btn-outline-finished {
  opacity: 1;
}

/* demo */
.btn-check:checked+.btn-outline-demo,
.btn-check:hover+.btn-outline-demo {
  color: var(--medium-color);
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-outline-demo {
  color: var(--blue);
  border-color: var(--blue);
}

.btn-check:disabled+.btn-outline-demo {
  opacity: 1;
}

/* rainbow */
.btn-check:checked+.btn-outline-rainbow,
.btn-check:hover+.btn-outline-rainbow {
  box-shadow: none;
  color: var(--light-color);
}

.btn-outline-rainbow {
  color: var(--light-color);
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px var(--medium-color) inset;
}

.btn-check:disabled+.btn-outline-rainbow {
  opacity: 1;
}

/* switch */
.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-color: var(--medium-color);
  border-color: var(--light-color);
}

/* nav */
.nav-pills .nav-link {
  color: var(--light-color);
  border-color: var(--light-color);
  border-width: 1px;
  border-style: dashed;
}

.nav-pills .nav-link:hover {
  border-style: solid;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
}

.tab-content {
  display: flex;
  flex-grow: 1;
}