:root {
  --light-color: #F8F9FA;
  --medium-color: #383B40;
  --dark-color: #0D1117;
  --red: #e06666;
  --green: #93c47d;
}

body {
  background-color: var(--medium-color);
  color: var(--light-color);
}

.spinner-border-xxl {
  width: 20rem;
  height: 20rem;
  color: var(--light-color);
}

.btn-group-justified > label {
  width: 100%;
}

.btn-check:checked+.btn-outline-danger,
.btn-check:hover+.btn-outline-danger {
  color: var(--light-color);
  background-color: var(--red);
  border-color: var(--red);
}

.btn-outline-danger {
  color: var(--red);
  border-color: var(--red);
}

.btn-check:checked+.btn-outline-success,
.btn-check:hover+.btn-outline-success {
  color: var(--medium-color);
  background-color: var(--green);
  border-color: var(--green);
}

.btn-outline-success {
  color: var(--green);
  border-color: var(--green);
}