@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-1: #0d1046;
    --theme-2: #0e0574;
    --theme-3: #8d8fb2;
    --theme-4: #544fd9;
    --theme-5: #f4f4f4;
    --theme-6: #eeedfb;
    --theme-7: #ffffff;
    --theme-8: #dbdcec;
  }

  [data-theme='dark'] {
    --theme-1: #232323;
    --theme-2: #fbfbfb;
    --theme-3: #898989;
    --theme-4: #bfaa82;
    --theme-5: #232323;
    --theme-6: #232323;
    --theme-7: #161616;
    --theme-8: #4f4f4f;
  }

  :root {
    --theme-white-neutral: #f8f8f8;
    --theme-green: #5ac8a0;
    --theme-red: #f2513b;
    --theme-gold: #efae05;
    --theme-blue: #5c8fee;
  }

  [data-colorblind='true'] {
    --theme-green: var(--theme-blue);
  }

  html {
    font-family:
      Plus Jakarta Sans,
      system-ui,
      sans-serif;
    @apply bg-theme-7;
  }
}

@layer components {
  .transitionChildren,
  .transitionChildren * {
    @apply transition-all duration-500 ease-in-out;
  }
}
