@font-face {
  font-family: 'Proxima Nova';
  src: url(./fonts/proxima-nova-font.otf) format('opentype');
  /* other formats include:
  * 'woff', 'woff2', 'truetype, 'opentype', 'embedded-opentype', 'svg'
  */
}

:root,
[data-theme='Sombre'] {
  --light-color: #c9d1d9;
  --dark-color: #1f1f23;
  --blue: #58a6ff;
  --green: #3fb950;
  --yellow: #d29922;
  --red: #f85149;
  --icon-color: #dec354;
  --arrow-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' stroke='%23c9d1d9' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23c9d1d9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  --round-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23c9d1d9'/%3e%3c/svg%3e");
}

[data-theme='Sombre daltonien'] {
  --light-color: #c9d1d9;
  --dark-color: #1f1f23;
  --blue: #5c8fee;
  --green: #c8e2ff;
  --yellow: #d29922;
  --icon-color: #dec354;
  --red: #5c8fee;
  --arrow-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' stroke='%23c9d1d9' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23c9d1d9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  --round-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23c9d1d9'/%3e%3c/svg%3e");
}

/* CLAIR */
[data-theme='Clair'] {
  --light-color: #0e0e10;
  --dark-color: #f7f7f8;
  --blue: #0969da;
  --green: #2da44e;
  --yellow: #bf8700;
  --red: #cf222e;
  --icon-color: #0e0e10;
  --arrow-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' stroke='%2324292f' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23c9d1d9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  --round-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2324292f'/%3e%3c/svg%3e");
}

[data-theme='Clair daltonien'] {
  --light-color: #0e0e10;
  --dark-color: #f7f7f8;
  --blue: #2d25b8;
  --green: #5c8fee;
  --yellow: #bf8700;
  --red: #ae262a;
  --icon-color: #0e0e10;
  --arrow-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' stroke='%2324292f' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23c9d1d9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  --round-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2324292f'/%3e%3c/svg%3e");
}

option {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.form-select {
  color: var(--light-color);
  background-color: var(--dark-color);
  background-image: var(--arrow-svg);
}

.form-select:disabled {
  background-color: var(--dark-color);
  background-image: var(--arrow-svg);
  opacity: 0.5;
}

.form-control {
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
}

.text-blue {
  color: var(--blue);
}

[data-theme='Sombre daltonien'] .text-blue {
  color: var(--green);
}

.root {
  font-family: 'Proxima Nova';
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* loading spinner */
.loading-screen.spinner-border {
  width: 20rem;
  height: 20rem;
}

.spinner-border {
  color: var(--light-color);
}

/* not finished */
.btn-check:checked + .btn-outline-not-finished,
.btn-check:hover + .btn-outline-not-finished {
  color: var(--dark-color);
  background-color: var(--red);
  border-color: var(--red);
}

.btn-outline-not-finished {
  color: var(--red);
  border-color: var(--red);
}

/* first to finish */
.btn-check:checked + .btn-outline-first-to-finish,
.btn-check:hover + .btn-outline-first-to-finish {
  color: var(--dark-color);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.btn-outline-first-to-finish {
  color: var(--yellow);
  border-color: var(--yellow);
}

/* finished */
.btn-check:checked + .btn-outline-finished,
.btn-check:hover + .btn-outline-finished {
  color: var(--dark-color);
  background-color: var(--green);
  border-color: var(--green);
}

.btn-outline-finished {
  color: var(--green);
  border-color: var(--green);
}

/* demo */
.btn-check:checked + .btn-outline-demo,
.btn-check:hover + .btn-outline-demo {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-style: solid;
}
.btn-outline-demo {
  color: var(--light-color);
  border-color: var(--light-color);
  border-style: dashed;
}

/* rainbow */
.btn-check:checked + .btn-outline-rainbow,
.btn-check:hover + .btn-outline-rainbow {
  box-shadow: none;
  color: var(--dark-color);
}
.btn-outline-rainbow {
  color: var(--light-color);
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px var(--dark-color) inset;
}

/* favorite */
.btn-check:checked + .btn-outline-fav,
.btn-check:hover + .btn-outline-fav {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-style: solid;
}
.btn-outline-fav {
  color: var(--light-color);
  border-color: var(--light-color);
  border-style: dashed;
}

/* white button */
.btn-outline-white:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}
.btn-outline-white {
  color: var(--light-color);
  border-color: var(--light-color);
  border-style: solid;
}

.btn-white,
.btn-white:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn-check:checked + .btn-outline-finished > .button-icon-star,
.btn-check:hover + .btn-outline-finished > .button-icon-star,
.btn-check:checked + .btn-outline-not-finished > .button-icon-star,
.btn-check:hover + .btn-outline-not-finished > .button-icon-star,
.btn-check:checked + .btn-outline-fav > .button-icon-star,
.btn-check:hover + .btn-outline-fav > .button-icon-star,
.btn-check:checked + .btn-outline-first-to-finish > .button-icon-star,
.btn-check:hover + .btn-outline-first-to-finish > .button-icon-star,
.btn-check:checked + .btn-outline-rainbow > .button-icon-star,
.btn-check:hover + .btn-outline-rainbow > .button-icon-star,
.btn-check:checked + .btn-outline-not-finished > .button-icon-clap,
.btn-check:hover + .btn-outline-not-finished > .button-icon-clap,
.btn-check:checked + .btn-outline-demo > .button-icon-clap,
.btn-check:hover + .btn-outline-demo > .button-icon-clap
{
  color: var(--dark-color);
}

/* icon in button */
.button-icon-star {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  color: var(--icon-color);
}

.button-icon-clap {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  color: var(--icon-color);
}

.button-icon-external-link {
  width: 12px;
  height: 12px;
  color: var(--icon-color);
  margin-bottom: 2px;
}

.btn-check:disabled + .btn {
  opacity: 1;
}

/* switch */
.form-switch .form-check-input {
  background-image: var(--round-svg) !important;
  background-color: var(--dark-color);
  border-color: var(--light-color);
}

/* nav */
.nav-pills .nav-link {
  color: var(--light-color);
  border-color: var(--light-color);
  border-width: 1px;
  border-style: dashed;
}

.nav-pills .nav-link:hover {
  border-style: solid;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
}

.tab-content {
  display: flex;
  flex-grow: 1;
}

.mh-30 {
  max-height: 32%;
  min-height: 32%;
}

.w-30 {
  width: 30%;
}

.mw-10 {
  min-width: 10% !important;
}

.mw-6 {
  min-width: 6% !important;
}

/* not finished */
.btn-outline-not-finished-leaderboard {
  color: var(--red);
  border-color: var(--red);
}

/* finished */
.btn-outline-finished-leaderboard {
  color: var(--dark-color);
  background-color: var(--green);
  border-color: var(--green);
}
